.app{
    display: block;
    

    .content{
    display: block;
    
    width:90%;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 50px;
    min-width: 400px;
  
    
      .posts{
          margin-top: 10px;
      }
    }


}
